<section class="customers container">
  <h1 class="main-title">Clientes</h1>
  <a class="button" routerLink="/customers/new">Nuevo cliente</a>
  <input
    class="input"
    type="search"
    [(ngModel)]="searchText"
    placeholder="Buscar por nombre"
  />
  <ul class="customer-list" *ngIf="customers$ | async as customers">
    <li
      class="customer-item"
      *ngFor="let customer of customers | appFilter: searchText"
      (click)="redirectToDetail($event, customer)"
    >
      <div>{{ customer.name }}</div>
      <div>{{ customer.phone_number }}</div>
      <div class="button-group">
        <button class="button button--edit" (click)="goToEdit(customer)">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
          >
            <path
              d="m18.988 2.012 3 3L19.701 7.3l-3-3zM8 16h3l7.287-7.287-3-3L8 13z"
            ></path>
            <path
              d="M19 19H8.158c-.026 0-.053.01-.079.01-.033 0-.066-.009-.1-.01H5V5h6.847l2-2H5c-1.103 0-2 .896-2 2v14c0 1.104.897 2 2 2h14a2 2 0 0 0 2-2v-8.668l-2 2V19z"
            ></path>
          </svg>
        </button>
        <button
          class="button button--delete"
          (click)="deleteCustomer(customer)"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
          >
            <path
              d="M6 7H5v13a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V7H6zm4 12H8v-9h2v9zm6 0h-2v-9h2v9zm.618-15L15 2H9L7.382 4H3v2h18V4z"
            ></path>
          </svg>
        </button>
      </div>
    </li>
  </ul>
</section>
