.customer-form {
  padding: 1rem 1.5rem;
}

.form {
  padding: 1rem;
  border-radius: .25rem;
  box-shadow: var(--box-shadow)
}

.form-group {
  margin-bottom: 0.5rem;
}

.input {
  padding: .5rem;
  width: 100%;
  border: none;
  box-shadow: var(--box-shadow)
}
